@font-face {
  font-family: "Gotham";
  font-weight: 800;
  src: url("./assets/fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: url("./assets/fonts/Gotham-Medium.otf");
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("./assets/fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  src: url("./assets/fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Gotham-Italic";
  font-weight: 800;
  src: url("./assets/fonts/Gotham-BoldItalic.otf");
}
@font-face {
  font-family: "Gotham-Italic";
  font-weight: 600;
  src: url("./assets/fonts/Gotham-MediumItalic.otf");
}
@font-face {
  font-family: "Gotham-Italic";
  font-weight: 400;
  src: url("./assets/fonts/Gotham-BookItalic.otf");
}
@font-face {
  font-family: "Gotham-Italic";
  font-weight: 200;
  src: url("./assets/fonts/Gotham-LightItalic.otf");
}
@font-face {
  font-family: "Thirthy";
  src: url("./assets/fonts/Thirthy.otf");
}

body {
  overflow-x: hidden;
  margin: 0;
}

.hero_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #888;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_video_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero_video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .hero_video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .hero_video {
    width: 100%;
  }
}
.hero_contents {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 92px;
  width: 214px;
}
.hero_value_prop {
  font-size: 24px;
  font-family: Gotham;
  font-weight: 400;
  margin: 30px 28%;
  text-align: center;
}
.app_store_badge{
  height: 54px;
  width: 160px;
}

.logo_icon{
  height: 42px;
  width: 45px;
}
.cta_wrapper {
  width: 100%;
  height: 30%;
  padding: 6% 0;
  background-color: #289FBD;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta_text_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta {
  font-size: 45px;
  font-family: Gotham;
  font-weight: 600;
  margin: 1em 0.2em;
}

.phone_mocks_wrapper {
  width: 100%;
  height: 110%;
  padding: 10em 0 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_mock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}
.phone_mock_image{
  height: 80%;
  width: 425px;
}
.phone_mock_label {
  font-size: 34px;
  font-family: Gotham;
  font-weight: 600;
  margin: 1.5em 0;
  color: #FE9343;
}

.tagline_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ig_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 6em;
}
.ig_photo {
  width: 440px;
  height: 440px;
}

.footer {
  background-color:#F7CEB8;
  width: 100%;
  height: 30%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email_label {
  font-size: 24px;
  font-family: Gotham;
  font-weight: 600;
  color: #FFF;
  margin: 6px;
}
.email_link {
  font-size: 24px;
  font-family: Gotham;
  font-weight: 600;
  color: #289FBD;
  text-decoration: none;
}
.legal_links {
  margin: 60px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.terms_link {
  font-size: 14px;
  font-family: Gotham;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
}
.privacy_policy_link {
  font-size: 14px;
  font-family: Gotham;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
}
.copyright {
  font-size: 14px;
  font-family: Gotham;
  font-weight: 400;
  color: #FE9343;
}

.top_nav {
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #289FBD;
  color: #FFF;
  display: flex;
  align-items: center;
}

.nav_title {
  font-size: 30px;
  font-family: Gotham;
  font-weight: 600;
  margin: 2em;
}

.legal_wrapper {
  width: 100%;
  padding: 20px;
}

.legal_header {
  font-size: 34px;
  font-family: Gotham;
  font-weight: 600;
  margin: 1.5em 0;
  color: #FE9343;
}

.legal_body{
  font-size: 16px;
  font-family: Gotham;
  font-weight: 600;
  margin: 1.5em 0;
}

/*small screen styles*/
@media only screen and (max-width: 1024px) {
  .hero_value_prop {
    font-size: 24px;
    margin: 30px 14%;
  }
  .cta_wrapper {
    padding: 8em 0;
  }
  .cta_text_wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  .cta {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    margin: 0.2em 0;
  }
  .phone_mocks_wrapper {
    flex-direction: column;
    padding: 40px 0;
  }
  .phone_mock_image {
    width: 90%;
  }
  .phone_mock_label {
    margin: 1em 0;
  }
  .tagline {
    font-size: 80px;
    margin: 0.2em 0;
  }
  .ig_wrapper {
    flex-direction: column;
    height: 1024px;
  }
  .ig_photo {
    height: 320px;
    width: 320px;
  }

}
